%nav.entries-menu-wrapper
  %div.entry-wrapper
    %div.button-wrapper
      %form.button{action: "/edit/#{@id}"}
        %input{type: "submit", value: "Edit"}
      %form.button{action: "/delete/#{@id}"}
        %input{type: "submit", value: "Delete"}
    %div.entry-title= @entry.title
    %div.entry-date= @entry.date
    %div.entry-content= @entry.content
    %div.button-wrapper
      %form.button{action: "/view"}
        %input{type: "submit", value: "Entry list"}
      %form.button{action: "/"}
        %input{type: "submit", value: "Main Menu"}
