%nav.entries-menu-wrapper
  %div.entry-wrapper
    %h2.header Are you sure you want to delete this entry?
    %div.entry-title= @entry.title
    %div.entry-date= @entry.date
    %div.entry-content= @entry.content
    %div.button-wrapper
      %form.button{action: "/delete/#{@id}", method: "POST"}
        %input{type: "submit", value: "Yes"}
      %form.button{action: "/view/#{@id}"}
        %input{type: "submit", value: "No"}
